@model PlanningPoker.Core.Entities.Game
@{
    ViewData["Title"] = "Game Master Zone";
    PlanningPoker.Core.Entities.Card card = ViewBag.Card;
    PlanningPoker.Core.Entities.Game game = ViewBag.Game;
}

<h1>Voting Results</h1>
<h5>
    Below are the results of this round of voting. By default the overall score is from taking the largest size, if you feel like that
    doesn't work or isn't right, update the score and hit the "Update Final Score" button.
</h5>
<br />
<div>
    <div style="position: absolute; width: 45%;">
        <h3>Voting Summary:</h3>
        <h4>Development:</h4>
        <ul>
            @if (card.Votes.Where(v => v.Player.PlayerType == PlanningPoker.Core.Entities.PlayerType.Developer).Any())
            {
                @foreach (var dv in card.Votes.Where(v => v.Player.PlayerType == PlanningPoker.Core.Entities.PlayerType.Developer))
                 {
                     <li>Developer: @dv.Score points.</li>
                 }
            }
        </ul>
        <h4>Testing:</h4>
        <ul>
            @if (card.Votes.Where(v => v.Player.PlayerType == PlanningPoker.Core.Entities.PlayerType.Tester).Any())
            {
                @foreach (var tv in card.Votes.Where(v => v.Player.PlayerType == PlanningPoker.Core.Entities.PlayerType.Tester))
                 {
                     <li>Tester: @tv.Score points.</li>
                 }
            }
        </ul>
        <span> History </span>
        <table>
            <tr>
                <th>Story Number</th>
                <th>Developer Size</th>
                <th>Testing Size</th>
                <th>Story Size</th>
            </tr>

            @foreach (var c in game.Cards)
            {
                <tr>
                    <td>@Html.DisplayFor(crd => c.CardNumber)</td>
                    <td>@Html.DisplayFor(crd => c.DeveloperSize)</td>
                    <td>@Html.DisplayFor(crd => c.TestingSize)</td>
                    <td>@Html.DisplayFor(crd => c.StorySize)</td>
                </tr>
            }
        </table>
        <form id="goToSummary" name="goToSummary" action="~/Home/GameMasterFinishEmail">
            <input type="text" id="gameId" name="gameId" value="@game.GameId" style="display: none" />
            <input type="submit" name="toSummary" id="toSummary" value="Go To Summary" />
        </form>
    </div>
    <div style="position:absolute; width:45%; right:0px;">
        <form action="~/Home/GameMasterFinalizeVoting">
            <table>
                <tr>
                    <td style="width: 20%"></td>
                    <td><input type="text" id="gameIdTextBox" name="gameId" value="@game.GameId" style="display: none" /></td>
                </tr>
                <tr>
                    <td style="width: 20%"></td>
                    <td><input type="text" name="cardId" value="@card.CardId" style="display: none" /></td>
                </tr>
                <tr>
                    <td>@Html.Label("Card Number: ")</td>
                    <td><input type="text" id="cardNumberTxtBox" name="cardNumber" readonly="readonly" value="@card.CardNumber" /></td>
                </tr>
                <tr>
                    <td>@Html.Label("Card Source: ")</td>
                    <td><input type="text" name="cardSource" readonly="readonly" value="@card.CardSource" /></td>
                </tr>
                <tr>
                    <td>@Html.Label("Developer Size: ")</td>
                    <td><input type="text" name="" readonly="readonly" value="@card.DeveloperSize" /></td>
                </tr>
                <tr>
                    <td>@Html.Label("Testing Size: ")</td>
                    <td><input type="text" name="" readonly="readonly" value="@card.TestingSize" /></td>
                </tr>
                <tr>
                    <td>@Html.Label("Card Size: ")</td>
                    <td><input type="text" name="storySize" id="storySize" value="@card.StorySize" /></td>
                </tr>
                <tr>
                    <td>
                        <input type="button" title="New Card" value="New Card" onclick="location.href = '@Url.Action("SetupCard", "Home", new {gameId = game.GameId})'" />
                    </td>
                    <td>
                        <button type="submit" name="update" id="updateButton">Update Final Score</button>
                        <input type="button" id="revoteButton" title="Revote" value="Revote" onclick="location.href = '@Url.Action("GameMasterRevote", "Home", new {gameId = game.GameId, cardId = card.CardId})'" />
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>