@{
    ViewData["Title"] = "Play Zone";
    PlanningPoker.Core.Entities.Game game = ViewBag.Game;
    PlanningPoker.Core.Entities.Player player = ViewBag.Player;
    var votingComplete = ViewBag.VotingComplete.ToString();
}
<div class="text-center">
    <h1>Game: @game.GameName</h1>
    <h3>Player: @player.PlayerName</h3>
    <span>
        As the game master calls out a card, when you are ready to estimate, select a size below.
    </span>
</div>
<br />
<br />
<span id="activeCardSection">Active Card: @game.ActiveCard?.CardNumber</span>
<form id="votingForm" name="votingForm" action="/Home/PlayerZone">
    <table>
        <tr>
            <td>@Html.RadioButton("size", "0", true)</td>
            <td>0</td>
        </tr>
        <tr>
            <td>@Html.RadioButton("size", "1", false)</td>
            <td>1</td>
        </tr>
        <tr>
            <td>@Html.RadioButton("size", "2", false)</td>
            <td>2</td>
        </tr>
        <tr>
            <td>@Html.RadioButton("size", "3", false)</td>
            <td>3</td>
        </tr>
        <tr>
            <td>@Html.RadioButton("size", "5", false)</td>
            <td>5</td>
        </tr>
        <tr>
            <td>@Html.RadioButton("size", "8", false)</td>
            <td>8</td>
        </tr>
        <tr>
            <td>@Html.RadioButton("size", "13", false)</td>
            <td>13</td>
        </tr>
        <tr>
            <td>@Html.RadioButton("size", "21", false)</td>
            <td>21</td>
        </tr>
        <tr>
            <td>
                <input type="text" id="gameId" name="gameId" value="@game.GameId" style="display: none"/>
                <input type="text" id="playerIdTxtBox" name="playerId" value="@player.PlayerId" style="display: none" />
                <input type="text" id="votingFinished" name="VotingFinished" value="@votingComplete" style="display: none" />
            </td>
            <td><input type="submit" value="Submit" onclick="submitForm()" /></td>
        </tr>
    </table>
</form>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script type ="text/javascript">
    var connection = new signalR.HubConnectionBuilder().withUrl("/votehub").configureLogging(signalR.LogLevel.Information).build();

    connection.on("VotingStatus", function (gameId, card) {
        var currentGame = document.getElementById("gameId").value;
        var regex = /[a-f0-9]{8}(?:-[a-f0-9]{4}){3}-[a-f0-9]{12}/i;
        var match = regex.exec(card);
        if (currentGame === gameId && !match) {
            var span = document.getElementById('activeCardSection');
            span.textContent = "";
            var text = document.createTextNode('Active Card: ' + card);
            span.appendChild(text);
        }
    });

    function submitForm() {
        var gameId = document.getElementById('gameId').value;
        var playerId = document.getElementById('playerIdTxtBox').value;
        var size;
        var sizes = document.getElementsByName('size');
        for (i = 0; i < sizes.length; i++) {
            if (sizes[i].checked) {
                size = sizes[i].value;
                break;
            }
        }

        connection.invoke("SendMessage", gameId, playerId).catch(function (err) {
            return console.error(err.toString());
        });
        window.location.replace("~/Home/PlayerZone?gameId=" + gameId + "&playerId=" + playerId + "&size=" + size);
    }

    connection.start();
</script>